@charset "UTF-8";

@charset "UTF-8";


/* main font */
@font-face {font-family: 'GangwonEduHyeonokT_OTFMediumA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduHyeonokT_OTFMediumA.woff') format('woff'); font-weight: normal; font-style: normal;}
/* sub font */
@font-face {font-family: 'TTLaundryGothicB'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2'); font-weight: 700; font-style: normal;}

/* boardlist */
body .wrap .gnb-wrap .gnb .logo > a img {width: 600px;}
body .container .navClass {color: #FFFFFF;}
body .search_form {display: flex; align-items: center; justify-content: center;}
body .container .selectBtn {font-family: 'TTLaundryGothicB'; font-size: 15px; color: #FFFFFF; background-color: #FA5857; width: 100px; height: 40px; border-radius: 0px; cursor: pointer; margin-right: 15px;}
body .selectBtn:hover {box-shadow: 0 0 20px #FFFFFF;}
body .btn {display: flex; justify-content: center; margin: 20px 0 40px 0;}
body .insBtn  {font-family: 'TTLaundryGothicB'; font-size: 15px; color: #000000; background-color: #F3D400; width: 90px; height: 35px; box-shadow: 4px 4px 0px #FA5857; border-radius: 0px; display: flex; text-decoration: none; align-items: center; justify-content: center; transition: background-color 0.2s, transform 0.2s; cursor: default; margin-right: 15px;}
body .insBtn:hover {background-color: #F3D400; box-shadow: 4px 4px 0px #FA5857; transform: translateY(4px) rotate(10deg);}
body .cancelBtn  {font-family: 'TTLaundryGothicB'; font-size: 15px; color: #000000; background-color: #F3D400; width: 90px; height: 35px; box-shadow: 4px 4px 0px #FA5857; border-radius: 0px; display: flex; text-decoration: none; align-items: center; justify-content: center; transition: background-color 0.2s, transform 0.2s; cursor: default;}
body .cancelBtn:hover {background-color: #F3D400; box-shadow: 4px 4px 0px #FA5857; transform: translateY(4px) rotate(10deg);}
body .container nav section {font-family: 'TTLaundryGothicB'; font-size: 15px;}
body .container nav section .cards .pagination {margin: 20px;}
body .container nav section .cards {text-align: -webkit-center;}
body .container nav section .cards tbody {vertical-align: middle; text-align: -webkit-center;} 
body .container nav section .cards tbody tr td .subjectArea {font-family: 'TTLaundryGothicB'; font-size: 15px; color: #000000; width: 400px; height: 22px; border: 3px solid #000000; padding: 5px; box-shadow: 0 0 0 2px #FFFFFF,0 0 0 4px #000000; border-radius: 5px; margin: 8px;}
body .container nav section .cards tbody tr td .contentArea {font-family: 'TTLaundryGothicB'; font-size: 15px; color: #000000; width: 400px; height: 250px; border: 3px solid #000000; padding: 5px; box-shadow: 0 0 0 2px #FFFFFF,0 0 0 4px #000000; border-radius: 5px; margin: 8px; vertical-align: top;}
body .container nav section .cards tbody tr td {text-align: justify;}
body .container nav section .cards tbody tr td .classLeft {margin: 6px 0 6px 9px;}
body .container nav section .cards tbody tr td .categoryTitle {margin-left: -25px; margin-right: -3px}
body .container nav section .cards tbody tr td .uploadTitle {margin: 0 5px 0px -37px;}
body .container nav section .cards tbody tr td div .uploadBtn {cursor: pointer;}
body .container nav section .cards form .innerTable tbody tr td .contentTitle {margin-bottom: 100px; vertical-align: -20px;}
body .container nav section .cards form {margin-top: 10px;}


.sub-title{
    font-size: 50px;
    margin-right: auto;
    margin-top: 6.5%;
    margin-left: 5%;
}