html, body {
	 font-family: 'TTLaundryGothicB';
	 font-weight: normal;
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
    
}

body {
	 font-family: 'TTLaundryGothicB';
	  font-weight: normal;
     cursor: crosshair;
     font-family: Poppins;
     background: url(hero.jpg) no-repeat 50% 50%;
}

.content {
	 font-family: 'TTLaundryGothicB';
	  font-weight: normal;
     width: 60%;
     margin: 0 auto;
     z-index: -1;
     position: absolute;
     top: 60%;
     left: 10%;
     transform: translate(0, -50%);
     color:white;
}

.content h1 {
     font-family: Poppins;
     font-size: 54px;
     color: #101010;
     font-weight: 700;
     text-transform: uppercase;
     margin-bottom: 10px;
}

.content p {
     margin-top: 0;
     text-align: left;
     color: #101010;
     font-weight: 400;
}
.img{
	position:absolute;
	top:19%;
	left:33%;
	transform: inherit;
	max-width: 100%; /* 이미지가 부모 요소보다 클 경우 최대 너비 지정 */
    max-height: 100%; /* 이미지가 부모 요소보다 클 경우 최대 높이 지정 */
}
.img imges{
	 width: 100%; /* 이미지 너비를 부모 요소에 맞게 설정 */
    height: auto; /* 이미지 높이는 자동으로 조정되도록 설정 */
	
}
 .overlay-2 {
     z-index: 0;
     position: absolute;
     width: 100%;
     height: 100vh;
     background: #4B4BFA;
}

.overlay {
     z-index: 1;
     position: absolute;
     width: 100%;
     height: 100vh;
     background: #101010;
}

.overlay p {
     font-size: 300px;
     font-weight: 800;
}

.screen {
     color: #323232;
     font-family: Poppins;
     position: absolute;
     top: 12%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.myBtn {
     font-family: Poppins;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

button {
     display: block;
     padding: 24px 48px;
     font-family: Poppins;
     font-weight: 700;
     font-size: 12px;
     letter-spacing: 13px;
     color: #fff;
     border: 2px solid #d0cc5aab;
     text-transform: uppercase;
     outline: none;
     overflow: hidden;
     background: none;
     z-index: 1;
     cursor: crosshair;
     transition: 0.8s ease-out;
     
     
}

.myBtn:hover {
     color: #101010;
     cursor: crosshair;
}

.myBtn:before {
     content: "";
     position: absolute;
     background: #fff;
     bottom: 0;
     left: 0;
     right: 0;
     top: 100%;
     z-index: -1;
     transition: top 0.8s ease-out;
}

.myBtn:hover:before {
     top: 0;
} 
