@charset "UTF-8";
@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'GangwonEduHyeonokT_OTFMediumA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduHyeonokT_OTFMediumA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




/* #half{
	background-image:linear-gradient(to right, #000000 50%, #4B4BFA 50%);
	width:500px;
	height:300px;
} */
/*
* 폰트 다운로드 받을수 있게 삽입 코딩 필요 
*/
/* .content1s {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 입력란을 가운데 정렬하기 위해 추가
    color: white;
} */
form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form label, form input {
    padding:10px;
    border:2px solid #cccc;
    border-radius:40px;
    display: block;
    margin: 10px auto;
    text-align: center;
    font-size: 20px; 
   
}

 label {
     color: white; /* 레이블의 글자 색상을 하얀색으로 설정 */
     
     }
form {
    display: inline-block; /* 입력 폼을 인라인 블록 요소로 만들어 가로 중앙 정렬 */
    text-align: left; /* 입력 폼 내부 요소를 왼쪽 정렬 */
}
@font-face {
    font-family: 'TTLaundryGothicB';
    src: url(../font/laundeee1.ttf);
    font-weight: 700;
    font-style: normal;
}

body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(90deg, #000000 50%, #FA5857 50%);
}
p {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #4b4bfa;
  font-size: 7vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}
p::before {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-split);
  width: 50%;
  color: #FA5857;
  overflow: hidden;
}